*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FA9F42;
}

.window h2{
    /* border: 2px solid violet; */
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: monospace;
    font-size: 170%;
    font-weight: bold;
    text-decoration: underline;
}

.window{
    border: none;
    display: flex;
    height: 60%;
    width: 40%;
    max-width: 400px;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
}

#mainform{
    /* border: 2px solid indigo; */
    padding: 10px;
    height: 80%;
}

label{
    font-family: monospace;
    /* border: 1px solid red; */
    font-size: 140%;
    font-weight: bold;
}

input{
    border: 2px solid #467599;
    padding: 5px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 5px;
    font-family: monospace;
    font-size: 120%;
}

select{
    border: 2px solid #467599;
    padding: 5px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-family: monospace;
    font-size: 120%;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 40px;
    font-family: monospace;
    font-size: 140%;
    font-weight: bold;
    background-color: #467599;
    color: white;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
    transition: 300ms;
}

button:hover{
    scale: 102%;
    background-color: #B6EEA6;
    color: black;
}

option{
    font-family: monospace;
}

#error{
    font-family: monospace;
    color: #D64045;
    font-weight: bold;
    font-size: 110%;
    padding: 10px;
}